# Local Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# In-house modules
.terraform/modules/
